// Colors
$green-dark: hsla(82, 54%, 32%, 1);
$green-light: hsla(82, 96%, 79%, 1);
$green-emphasized: hsla(82, 98%, 65%, 1);
$text-dark: hsla(82, 14%, 12%, 1);
$text-light: hsla(82, 96%, 96%, 1);
$text-alternative: hsla(82, 14%, 65%, 1);
